@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: white;
    color: black;
}

html {
  position: relative;
  background-color: white;
  color: black;
}

.custom-button:hover {
  background-color: #3A3042;
  color: white;
}